*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --scroll_padding: 0px;
    --scroll_padding_value: 0;

    --primary-color: #03cc03;
    --secondary-color: rgb(221, 221, 221);
}

@media (min-width: 650px) {
    :root {
        --scroll_padding: 20px;
        --scroll_padding_value: 20;
    }

}

@media (min-width: 1000px) {
    :root {
        --scroll_padding: 40px;
        --scroll_padding_value: 40;
    }
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
    background-color: black;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 0px;
}
